
body {
    background-color: aliceblue;
}


.validations  {
    color: red !important;

}

.test {
    color: green !important;
    font-size: 22px !important;
    /* background-color: yellow !important; */
}
